version: '3'
services:
  client:
    build: client
    command: yarn start:dev
    ports:
      - 8080:8080
    volumes:
      - type: bind
        source: ./client/src
        target: /src
      - type: bind
        source: ./client/package.json
        target: /package.json
      - type: bind
        source: ./client/node_modules
        target: /node_modules

  server:
    build: server
    command: yarn watch
    ports:
      - 8000:8000
    volumes:
      - type: bind
        source: ./server/src
        target: /src
      - type: bind
        source: ./server/package.json
        target: /package.json
      - type: bind
        source: ./server/node_modules
        target: /node_modules
      - type: bind
        source: ./server/types
        target: /types

  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'password'
    ports:
      - 3307:3306
